{% extends "AppWeb/father.html" %}

{% load static %}

{% block tittle %}
    Perfil
{% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}

{% block titulo_cambiante %}
    <h1 class="fw-bolder mb-1">Editar con funcion</h1>
{% endblock %}

{% block contenido_cambiante %}
    <form action="{% url 'editarPassword' %}" method="POST"> {% csrf_token %}
        <table>    
            {{ form.as_table }}    
        </table>    
        <input type="submit" value="Guardar">   
    </form>
{% endblock %}
