{% extends "AppWeb/father.html" %}

{% load static %}

{% block tittle %}
    Cambiar Contraseña
{% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}

{% block titulo_cambiante %}
    <h1 class="fw-bolder mb-1">Cambiar Contraseña</h1>
{% endblock %}

{% block contenido_cambiante %}
    <form method="POST"> {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form.as_table }}
                </td> 
            </tr>
        </table>
        <input type="submit" vaLue="Entrar">    
    </form>
{% endblock %}