{% extends "AppWeb/father.html" %}

{% load static %}

{% block tittle %}
    Login
{% endblock %}

{% block titulo_cambiante %}
    <h1 class="fw-bolder mb-1">Login</h1>
{% endblock %}

{% block subtitulo_cambiante %}
    <div class="text-muted fst-italic mb-2">Ingresar a ProyectoWeb</div>
{% endblock %}

{% block contenido_cambiante %}
<div class="centrar-form" action="{% url 'login'%}">
    <form method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input type="submit" vaLue="Entrar">
    </form>
</div>
{% endblock %}



