{% extends "AppWeb/father.html" %}

{% load static%}

{% block tittle %}
    message list
{% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}

{% block titulocontenido_cambiante %}
    <h1> Blogs </h1>
    <hr>
{% endblock %}

{% block contenido_cambiante %}    
    {% for blog in object_list %}
        <table>
            <h4><u>{{ blog.titulofoto }}</u></h4>
            <img src="{{blog.imagen.url}}" class="" width="200px">
            <br>
            <br>
            <h5>{{ blog.titulomessage }}</h5>
            <p class="m-0 text-left"> {{ blog.message }}</p>                       
            <br> 
            &nbsp;<a class="btn btn-info" href="{% url 'blogDetail' blog.id %}">Ver</a>&nbsp;         
            {% if user.id == blog.user.id %}                         
                <a class="btn btn-primary" href="{% url 'blogUpdate' blog.id %}">Editar</a>&nbsp; 
                <a class="btn btn-danger" href="{% url 'blogDelete' blog.id %}">Eliminar</a>          
            {% endif %}   
        </table>
        <hr>
    {% endfor %}
    {% if user.is_authenticated %}
        <br>
        <a class="button" href="{% url 'blogForm' %}">Crear blog!</a>
    {% else %}
        <br>
        <h6>Si deseas agregar un blog debes loguearte!</h6>
    {% endif %}
{% endblock %}

{% block section_cambiante %}
{% endblock %}
