{% extends "AppWeb/father.html" %}

{% load static %}

{% block tittle %}
    Editar Blog
{% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}

{% block titulo_cambiante %}
    <h1> Editar Blog </h1>
    <hr>
{% endblock %}

{% block contenido_cambiante %}
    {% if user.is_authenticated %}
        <form method="POST"> {% csrf_token %}    
            <table>    
                {{ form.as_table }}    
            </table>        
            <input type="submit" vaLue="Guardar">    
        </form>
    {% endif %}
{% endblock %}
<table>    
    {{ form.as_table }}    
    </table>