{% extends "AppWeb/father.html" %}

{% load static %}

{% block tittle %}
    Nuevo blog
{% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}

{% block titulo_cambiante %}
    <h1> Nuevo blog </h1>
    <hr>
{% endblock %}

{% block contenido_cambiante %}
    {% if user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <table>    
        {{ form.as_table }}    
        </table>
        <input type="submit" value="Agregar blog!">
    </form>
    {% else %}
        <br>
        <h6>Si deseas agregar un blog debes loguearte!</h6>
    {% endif %}
{% endblock %}



