<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block tittle %} {% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'AppWeb/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppWeb/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">FotografiaBlog</a>
                <a class="navbar-brand" href="{% url 'blogList' %}">blogs</a>                
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'blogForm' %}">Crear</a>     
                {% endif %}
                             
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <p class="text-muted big mb-4 mb-lg-0">Bienvenido<br>{{user.username}}!</p>                        
                        {% block link_cambiante2 %}                        
                        {% endblock %}                        
                        {% block link_cambiante %}                        
                        {% endblock %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'mensajeUserList' %}">Mensajes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>                                                 
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'aboutme' %}">AboutME!</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            {% block titulo_cambiante %}                            
                            {% endblock %}
                            <!-- Post meta content-->
                            {% block subtitulo_cambiante %}                            
                            {% endblock %}
                        </header>
                        <!-- Preview image figure-->
                        {% block imagen_cambiante%}                        
                        {% endblock %}
                        <!-- Post content-->
                        <section class="mb-5">
                            {% block titulocontenido_cambiante %}        
                            {% endblock %}
                            {% block contenido_cambiante %}        
                            {% endblock %}
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        {% if user.is_authenticated %}
                            {% block section_cambiante %}                        
                            {% endblock %}
                        {% endif %}
                    </section>                
                 </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->                
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Estilos de fotografia!</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="{% url 'Blancoynegro' %}">Blanco y negro</a></li>
                                    <li><a href="{% url 'Paisaje' %}">Paisaje</a></li>
                                    <li><a href="{% url 'Publicitaria' %}">Publicitaria</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!"></a></li>
                                    <li><a href="#!"></a></li>
                                    <li><a href="#!"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Hola!</div>
                    <div class="card-body">En esta comunidad podras compartir tus fotos con todos los usuarios. Ellos podran comentar en tus publicaciones!</div>
                </div>
            </div>
        </div>
    </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            </div>
            <div class="container">
                <div class="m-0 text-center text-white">
                    <p>Copyright &copy; Your Website 2023</p>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppWeb/js/scripts.js' %}"></script>
    </body>
</html>
